$max-width: 850px;
$text-color-dark: #404040;

%page {
    max-width: $max-width;
    margin: 265px auto 0;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}