@import "vars";

// about

#about {
    @extend %page;

    color: $text-color-dark;
    font-size: 22px;

    h2 {
        font-size: 35px;
        font-weight: bold;
    }

    h3 {
        margin-bottom: .5rem;
        font-size: 35px;
        font-weight: bold;
        color: #1c8fb9;
    }
}

.jury {
    > figure {
        margin: 1em 0 0 0;
        display: inline-block;

        > figcaption {
            font-size: 18px;
            text-align: center;
            text-shadow: 0.5px 0.5px 1px white;
        }
    }

    > figure + figure {
        margin-left: 1.5rem;
    }
}

.bg-jarda {
    background: white url("../images/jarda.jpg") top left no-repeat;
    background-size: cover;
}

.bg-bill {
    background: white url("../images/bill.jpg") top left no-repeat;
    background-size: cover;
    filter: brightness(1.5);
}

.bg-kristy {
    background: white url("../images/kristy.png") top left no-repeat;
    background-size: cover;
}

.bg-jirka {
    background: white url("../images/jirka.png") top left no-repeat;
    background-size: 210%;
    background-position: 27% 20%;
}

.jury-image {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid rgba(40,40,40, .15);
}
