$max-width: 850px;
$text-color-dark: #404040;

%page {
    max-width: $max-width;
    margin: 265px auto 0;
}

html, body, * {
    font-family: Avenir, sans-serif;
    font-weight: normal;
}

html, body {
    font-size: 18px;
    line-height: 1.8em;
}

body {
    background: white url("../images/triangle.svg") top left repeat;
    background-size: 12%;

    /*
    background: white url("../images/goodhack-bg.png") top center no-repeat;
    background-size: cover;
    */
}

// app

#app {
    position: relative;

    // for testing only - REMOVE !!!
    min-height: 6000px;
    margin: 0 auto;

    // triangles can overflow
    overflow: hidden;
}

// components

#menu {
    @extend %page;
    margin-top: 0;
    padding-top: 30px;

    text-align: center;
    line-height: 2rem;

    column-count: 2;

    div {
        display: block;

        text-transform: uppercase;
        text-decoration: none;

        color: #1c8fb9;
        cursor: pointer;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 30em){
    #menu {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 30em){
    #menu {
        column-count: 3;
    }
}

@media screen and (min-width: 55em){
    #menu {
        column-count: 6;
    }
}

#hello {
    position: relative;
    z-index: 1;

    text-align: center;

    font-size: 16px;

    h1 {
        font-size: 28px;
        margin-bottom: 1.75rem;
    }

    img {
        display: none;
        margin: 60px auto 90px;
    }

    button {
        margin-top: 65px;
    }
}

@media screen and (min-width: 30em) {
    #hello h1 {
        font-size: 35px;
    }
}

@media screen and (min-width: 40em) {
    #hello img {
        display: block;
    }

    #hello h1 {
        font-size: 45px;
    }
}

@media screen and (min-width: 55em){
    #hello {
        font-size: 22px;
    }

    #hello h1 {
        font-size: 60px;
    }
}

// about

#about {
    @extend %page;

    color: $text-color-dark;
    font-size: 22px;

    h2 {
        font-size: 35px;
        font-weight: bold;
    }

    h3 {
        margin-bottom: .5rem;
        font-size: 35px;
        font-weight: bold;
        color: #1c8fb9;
    }
}

.jury {
    > figure {
        margin: 1em 0 0 0;
        display: inline-block;

        > figcaption {
            font-size: 18px;
            text-align: center;
            text-shadow: 0.5px 0.5px 1px white;
        }
    }

    > figure + figure {
        margin-left: 1.5rem;
    }
}

.bg-jarda {
    background: white url("../images/jarda.jpg") top left no-repeat;
    background-size: cover;
}

.bg-bill {
    background: white url("../images/bill.jpg") top left no-repeat;
    background-size: cover;
    filter: brightness(1.5);
}

.bg-kristy {
    background: white url("../images/kristy.png") top left no-repeat;
    background-size: cover;
}

.bg-jirka {
    background: white url("../images/jirka.png") top left no-repeat;
    background-size: 210%;
    background-position: 27% 20%;
}

.jury-image {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid rgba(40,40,40, .15);
}

// button

.button {
    padding: 10px 50px;
    background: #1fc6c6;

    border: 0;
    border-radius: 5px;

    color: white;
    font-size: 24px;

    transition: 1s all;

    &:hover {
        background: #19A3A3;
        transform: scale(1.2);
    }
}

#schedule {
    @extend %page;

    color: #fff;

    h2 {
        border-bottom: 1px solid rgba(255,255,255, .2);
        padding-bottom: .3em;
    }

    h3 {
        margin-top: 3em;
        text-transform: uppercase;
    }

    .day-time {
        padding-right: 100px;
        line-height: 2.5em;
    }

    .locale-switch {
        display: inline-block;
        float: right;
        margin-left: 10px;
        padding: 0px 15px 7px 15px;

        font-size: 24px;
        color: rgba(255,255,255, .2);

        cursor: pointer;

        &.active {
            border-bottom: 2px solid white;
            color: white;
        }
    }
}

// colors

.color-black {
    color: #000;
}
.color-green {
    color: #1fc6c6;
}
.color-pink {
    color: #f15a93;
}
.color-grey {
    color: #aaa;
}
