@import "vars";

html, body, * {
    font-family: Avenir, sans-serif;
    font-weight: normal;
}

html, body {
    font-size: 18px;
    line-height: 1.8em;
}

body {
    background: white url("../images/triangle.svg") top left repeat;
    background-size: 12%;
}

// app

#app {
    position: relative;

    // for testing only - REMOVE !!!
    min-height: 6000px;
    margin: 0 auto;

    // triangles can overflow
    overflow: hidden;
    max-width: 1310px;
}

// components

@import "menu";
@import "hello";
@import "about";
@import "schedule";
@import "social";
@import "projects";
@import "awards";

@media screen and (max-width: 64.063em) {
    #app {
        min-height: 0;
    }
    #about, #schedule, #social, #projects, #awards {
        margin: 100px auto 0 !important;
    }

    #hello, #about, #schedule, #social, #projects, #awards, .squares {
        height: auto !important;
    }
}

// button

.button {
    padding: 10px 50px;
    background: #1fc6c6;

    border: 0;
    border-radius: 5px;

    color: white;
    font-size: 24px;

    transition: 1s all;

    &:hover {
        background: #126a8c;
    }
}

// colors

.color-black {
    color: #000;
}
.color-green {
    color: #1fc6c6;
}
.color-pink {
    color: #f15a93;
}
.color-grey {
    color: #aaa;
}
