@import "vars";

#awards {
    @extend %page;
    margin-top: 340px;

    min-height: 1000px;

    color: #404040;
    font-size: 22px;

    p {
      margin: 1.5em 0;
    }

    h2 {
        font-size: 35px;
        font-weight: bold;
    }

    img {
        display: inline-block;
        margin: 20px auto;
    }
}