@import "vars";

#awards {
    @extend %page;
    margin-top: 340px;

    min-height: 1000px;

    color: #333;
    font-size: 22px;

    h2 {
        font-size: 35px;
        font-weight: bold;
    }
}