@import "vars";

#projects {
    @extend %page;
    margin-top: 340px;

    max-width: 950px !important;

    color: #fff;
    font-size: 22px;

    height: 1220px;

    h2 {
        font-size: 35px;
        font-weight: bold;
    }

    table {
        width: 100%;
        margin-top: 2.5em;
        padding: 5px 5px 5px 0;

        text-align: left;
        font-size: 16px;

        .text-center{
            text-align: center;
        }

        th {
            color: #9f9fa0;
            border-bottom: 2px solid rgba(172,172,173, .3);
            padding: 0 0 0 8px;
        }

        td {
            padding: 5px 8px;
            line-height: 2.5em;

            text-align: left;
            color: #fff;

            a {
                margin-left: 10px;
                font-weight: bold;
                color: white;

                padding-left: 24px;

                background: url("../images/ico-gdrive.svg") top left no-repeat;
                background-size: contain;

                &:hover {
                    background: url("../images/ico-gdrive-hover.svg") top left no-repeat;
                    background-size: contain;
                    color: #f15a93;
                }
            }
        }

        tr:nth-child(2n+3) {
            background: rgba(255,255,255, .1);
        }
    }

    .trophy-item {
        color: #9f9fa0;
    }

    .trophy {
        width: 19px;
        height: 18px;
        background: url("../images/ico-trophy.svg") top center no-repeat;
        background-size: contain;
    }

    form {
        background: #404040;
        padding: 0 10px 1px;

        fieldset {
            border-radius: 6px;
        }

        input {
            font-family: Avenir;
            color: #404040;
            border: 0;
            font-size: 20px;
            border-radius: 6px;

            @include placeholder {
                color: rgba(145,145,151, .7);
            }

            &.invalid {
                background: #c10;
                color: #fff;

                @include placeholder {
                    color: rgba(255,255,255, .7);
                }
            }
        }

        legend {
            background: none;
            color: #fff;
        }

        label {
            font-size: 20px;
            color: #fff;
            line-height: 2.2em;
            text-align: right;
        }
    }
}

@media screen and (max-width: 64.063em) {
    #projects {
        color: #333;

        table {
            td {
                color: #333;
                a {
                    color: #333;
                }
            }
        }
    }
}