@import "vars";

#schedule {
    @extend %page;

    height: 1260px;

    color: #fff;

    h2 {
        border-bottom: 1px solid rgba(255,255,255, .2);
        padding-bottom: .3em;
    }

    h3 {
        margin-top: 3em;
        text-transform: uppercase;
        font-weight: bold;
    }

    .day-time {
        padding-right: 30px;
        line-height: 2.5em;
    }

    .event-desc {
        padding-left: 30px;
        font-weight: bold;
    }

    .event-location {
        opacity: .5;
        white-space: nowrap;
    }

    .locale-switch {
        display: inline-block;
        float: right;
        margin-left: 10px;
        padding: 0px 15px 7px 15px;

        font-size: 24px;
        color: rgba(255,255,255, .2);

        cursor: pointer;

        &.active {
            border-bottom: 2px solid white;
            color: white;
        }
    }
}

@media screen and (max-width: 64.063em) {
    #schedule {
        color: #333;

        h2 {
            border-bottom: 1px solid rgba(0,0,0, .2);
        }

        .locale-switch {
            color: rgba(0,0,0, .2);

            &.active {
                border-bottom: 2px solid #333;
                color: #333;
            }
        }
    }
}