@mixin triangle($border-width: 60px) {
    transition: none;
    display: inline-block;

    position: absolute;

    border-top: $border-width solid transparent;
    border-bottom: $border-width solid transparent;

	width: 0;
	height: 0;
}

#triangles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.triangles-left,
.triangles-right {
    position: absolute;
    top: 0;
}

.triangles-left {
    left: 0;
    transform-origin: top left;
}
.triangles-right {
    right: 0;
    transform-origin: top right;
}

@media screen and (max-width: 60em){
    .triangles-left,
    .triangles-right {
        transform: scale(0.90);
    }
}

@media screen and (max-width: 50em){
    .triangles-left,
    .triangles-right {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 40em){
    .triangles-left,
    .triangles-right {
        transform: scale(0.45);
    }
}

@media screen and (max-width: 30em){
    .triangles-left,
    .triangles-right {
        transform: scale(0.15);
    }
}

.tri-l-1 {
    @include triangle();

    left: 65px;
    top: 55px;

    border-left: 105px solid rgba(28, 143, 185, 0.75);
}

.tri-l-2 {
    @include triangle();

    left: -40px;
    top: 0px;

    border-right: 105px solid rgba(28, 143, 185, 0.25);
}

.tri-p-1 {
    @include triangle(90px);

    left: 120px;
    top: 520px;

    border-right: 160px solid rgba(238, 93, 146, 1);
}

.tri-p-2 {
    @include triangle(90px);

    left: 120px;
    top: 500px;

    border-left: 160px solid rgba(238, 93, 146, 0.5);
}

.tri-p-3 {
    @include triangle(120px);

    left: 70px;
    top: 589px;

    border-right: 210px solid rgba(238, 93, 146, 0.35);
}

.tri-p-4 {
    @include triangle(265px);
    z-index: 2;

    left: 0px;
    top: 2445px;

    border-left: 400px solid rgba(238, 93, 146, 0.5);
}

.tri-g-2 {
    @include triangle(1000px);

    left: 0px;
    top: 3980px;

    border-left: 2000px solid #404040;
}

.tri-g-1 {
    @include triangle(1000px);

    left: 0px;
    top: 315px;

    border-left: 2000px solid rgba(145, 143, 140, 0.1);
}

.tri-r-1 {
    @include triangle(90px);

    right: 170px;
    top: 690px;

    border-left: 150px solid rgba(93, 193, 196, 1);
}

.tri-r-2 {
    @include triangle(45px);

    right: 170px;
    top: 780px;

    border-right: 80px solid rgba(93, 193, 196, .5);
}

.tri-r-3 {
    @include triangle(265px);

    right: 0px;
    top: 630px;

    border-right: 475px solid rgba(238, 93, 146, 1);
}

.tri-r-4 {
    @include triangle(90px);

    right: 150px;
    top: 4255px;

    border-left: 150px solid rgba(93, 193, 196, 1);
}

.tri-r-5 {
    @include triangle(45px);

    right: 300px;
    top: 4255px;

    border-right: 90px solid rgba(93, 193, 196, .5);
}

.tri-r-6 {
    @include triangle(280px);

    right: 0;
    top: 6685px;

    border-left: 440px solid #92c9de;
}

.tri-r-7 {
    @include triangle(250px);

    right: 440px;
    top: 6385px;

    border-right: 450px solid rgba(93, 193, 196, .5);
}

.tri-r-big {
    position: absolute;
    right: 0px;
    top: 1200px;
    height: 2400px;
    width: 1750px;

    background: url("../images/sky.svg") top left no-repeat;
}