<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>#AllDataHack2015</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet" />
    {% } %}
</head>
<body>
    <div id="app"></div>

    {% for (var chunk in o.htmlWebpackPlugin.files.js) { %}
    <script src="{%=o.htmlWebpackPlugin.files.js[chunk]%}"></script>
    {% } %}
</body>
<!-- Social icons font: <a href="http://www.socicon.com" target="_blank" alt="Free social icons font" title="the social icons font">socicon</a> -->
</html>
